{% extends './base.html'%}

{%block title%}index{%endblock%}

{% block body %}
<div class="container">
 
   <div class="row">
        <div class="col-med-4 offset-md-4 my-auto">
            <div class="card">
                <div class="card_header">
                    <form action="">
                        <div class="form_group">
                        <input name="content" type="text" placeholder="tarea" class="form-control" autofocus>
                        </div>
                        <input type="button" value="" class="btn btn-primary btn-block">
                    </form>
                    
                </div>
                <div class="car_body">
                   
                       
                </div>
                
            </div>
        </div>
    </div>
</div>



   

{% endblock%}

