{% extends './base.html'%}

{%block title%}index{%endblock%}

{% block body %}
<main class="container p-4">
    <h1 class="display-4 text-center mt-4">Tasks App</h1>

 
   <div class="row">
        <div class="col-med-4 offset-md-4 my-auto">
            <div class="card">
                <div class="card-header">
                    <form action="/create-task" method="POST">
                        <div class="form-group">
                            <input name="content" type="text" placeholder="tarea" class="form-control" autofocus>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            SAVE
                        </button>
                    </form>
                    
                </div>
                <div class="car_body">
                   <ul class="list-group">
                    {% for task in tasks %}
                    <li class="list-group-item">
                       <span class="{% if task.done%}done{%endif%}">{{task.content}}</span>
                       <a href="/done/{{task.id}}" class="btn btn-success btn-sm">Hecho</a>
                       <a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">Borrar</a>
                    </li>
                    {%endfor%}
                   </ul> 
                       
                </div>
                
            </div>
        </div>
    </div>


</main>

   

{% endblock%}

